version: "4.8.1"
services:
  client: 
    container_name: client
    restart: always
    build: ./client
    ports:
      - "3000:3000"
    links:
      - "app"
  app:
    container_name: app
    restart: always
    build: ./api
    env_file: ./.env
    ports:
      - "4000:4000"
